<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta %}{% endblock %}
    <title>{{ config.name }} | {% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body class="d-flex flex-column">

<header class="clearfix" id="page-header">
    <div class="d-none d-print-block">
        <h3>{{ block('title') }}</h3>
    </div>

    <div class="float-left heading hidden-print">
        {% if config.logo is defined and config.logo is not null %}
            <img src="{{ asset(config.logo) }}" alt="" id="logo" />
        {% endif %}

        <h1>{{ config.name }}</h1>
    </div>

    {% block userbar %}{% endblock %}
</header>

<div class="container-fluid main flex-grow-1">

    {% block container %}{% endblock %}

</div>

<footer class="hidden-print">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3>{{ config.name }}</h3>

            <p>
                {{ 'version'|trans({'%version%': config.version }) }}
            </p>
        </div>

        <div class="col-md-6 col-xs-12">
            <p>
                © {{ "now"|date("Y") }} SchulIT – <a href="{{ path('list_composer_dependencies') }}">{{ 'licenses.label'|trans }}</a>
            </p>
        </div>
    </div>
</footer>

{% block pre_javascript %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block post_javascript %}{% endblock %}

</body>
</html>