{% use "bootstrap_4_horizontal_layout.html.twig" %}

{% block form_label_errors %}{% endblock %}

{% block form_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        <div class="form-group row{% if (not compound or force_error|default(false)) and not valid %} is-invalid{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
                {{- form_help(form) -}}
            </div>
            {##}</div>
    {%- endif -%}
{%- endblock form_row %}

{% block fieldset_row %}
    <div class="card">
        {% if legend is defined and legend is not empty %}
            <div class="card-header">{{ legend | trans({}, translation_domain) }}</div>
        {% endif %}

        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block choice_widget_collapsed -%}
    {{- parent() -}}

    {% if multiple %}
        <span class="help-block">{{ 'forms.select.multiple.info'|trans }}</span>

        <button type="button" class="btn btn-secondary btn-sm" onclick="document.querySelector('#{{ id }}').querySelectorAll('option').forEach(function(el) { el.selected = true; });">
            <i class="far fa-check-square" aria-hidden="true"></i> {{ 'forms.select.multiple.select_all'|trans }}
        </button>

        <button type="button" class="btn btn-secondary btn-sm" onclick="document.querySelector('#{{ id }}').querySelectorAll('option').forEach(function(el) { el.selected = false; });">
            <i class="far fa-square" aria-hidden="true"></i> {{ 'forms.select.multiple.unselect_all'|trans }}
        </button>
    {% endif %}
{%- endblock choice_widget_collapsed %}