{% use "bootstrap_4_horizontal_layout.html.twig" %}

{% block fieldset_row %}
    <div class="card">
        {% if legend is defined and legend is not empty %}
            <div class="card-header">{{ legend | trans({}, translation_domain) }}</div>
        {% endif %}

        <div class="card-body">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}

{% block choice_widget_collapsed -%}
    {{- parent() -}}

    {% if multiple %}
        <span class="help-block">{{ 'forms.select.multiple.info'|trans }}</span>

        <button type="button" class="btn btn-secondary btn-sm" onclick="$('#{{ id }} option').prop('selected', true);">
            <i class="far fa-check-square" aria-hidden="true"></i> {{ 'forms.select.multiple.select_all'|trans }}
        </button>

        <button type="button" class="btn btn-secondary btn-sm" onclick="$('#{{ id }} option').prop('selected', false);">
            <i class="far fa-square" aria-hidden="true"></i> {{ 'forms.select.multiple.unselect_all'|trans }}
        </button>
    {% endif %}
{%- endblock choice_widget_collapsed %}