<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta %}{% endblock %}
    <title>{{ config.name }} | {% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body>

<header class="clearfix" id="page-header">
    <div class="d-none d-print-block">
        <h3>{{ block('title') }}</h3>
    </div>

    <div class="pull-left heading hidden-print">
        {% if config.logo is defined and config.logo is not null %}
            <img src="{{ asset(config.logo) }}" alt="" id="logo" />
        {% endif %}

        <h1>{{ config.name }}</h1>
    </div>

    <div class="pull-right d-print-none" id="userbar">
        <div class="btn-group d-md-none d-lg-none">
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#menu">
                <i class="fa fa-bars"></i> {{ 'menu.label'|trans }}
            </button>
        </div>

        {% if user.services|length > 0 %}
        <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-th-list"></i> {{ 'services.label'|trans }}
            </button>

            <ul class="dropdown-menu" role="menu">

                {% for service in user.services %}
                    <li>
                        <a class="dropdown-item" href="{{ service.url }}" target="_blank" title="{{ service.description }}">
                            {{ service.name }}
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        {% endif %}

        <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>

                {% if user.firstname is not null and user.lastname is not null %}
                {{ user.lastname }}, {{ user.firstname }} ({{ app.user.username }})
                {% else %}
                    {{ app.user.username }}
                {% endif %}
            </button>

            <ul class="dropdown-menu pull-right" role="menu">
                {% block usermenu %}{% endblock %}
                {% if profile_url is not null %}
                <li>
                    {% if profile_url starts with 'http://' or profile_url starts with 'https://' %}
                        <a href="{{ profile_url }}" class="dropdown-item"><i class="fa fa-cogs"></i> {{ 'profile.label'|trans }}</a>
                    {% else %}
                        <a href="{{ path(profile_url) }}" class="dropdown-item"><i class="fa fa-cogs"></i> {{ 'profile.label'|trans }}</a>
                    {% endif %}
                </li>
                <li class="dropdown-divider"></li>
                {% endif %}
                <li>
                    <a href="{{ path('logout') }}" class="dropdown-item"><i class="fa fa-sign-out"></i> {{ 'auth.logout'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="container-fluid main">

    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 navigation d-print-none">
            <nav class="navbar navbar-expand-md">
                <div class="collapse navbar-collapse" id="menu">
                    {{ knp_menu_render(mainMenu, {'depth': 1, 'currentClass': 'active' }) }}
                </div>
            </nav>
        </div>

        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
            {% for msg in app.session.flashbag.get('error') %}
                <div class="bs-callout bs-callout-danger">
                    <h4>{{ 'error.label'|trans }}</h4>
                    <p>{{ msg|trans }}</p>
                </div>
            {% endfor %}

            {% for msg in app.session.flashbag.get('info') %}
                <div class="bs-callout bs-callout-info">
                    <h4>{{ 'info.label'|trans }}</h4>
                    <p>{{ msg|trans }}</p>
                </div>
            {% endfor %}

            {% for msg in app.session.flashbag.get('success') %}
                <div class="bs-callout bs-callout-success">
                    <h4>{{ 'success.label'|trans }}</h4>
                    <p>{{ msg|trans }}</p>
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>

    </div>

</div>

<footer class="hidden-print">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3>{{ config.name }}</h3>

            <p>
                Version {{ config.version }}
            </p>

        </div>

        <div class="col-md-6 col-xs-12">
            <p>
                © {{ "now"|date("Y") }} School IT
            </p>
        </div>
    </div>
</footer>

{% block pre_javascript %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block post_javascript %}{% endblock %}

</body>
</html>