{% extends ["main.html.twig", "@Common/main.html.twig"] %}

{% block title %}{{ 'cron.results.show.label'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ result.cronJob.command }} <span class="text-muted">{{ result.cronJob.arguments }}</span> @ {{ result.runAt|format_datetime }}
        </div>

        <div class="card-body">
            <pre>
                {{ result.output }}
            </pre>
        </div>
    </div>
{% endblock %}