{% extends ["main.html.twig", "@Common/main.html.twig"] %}

{% block title %}{{ 'cron.run.label'|trans }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'cron.run.output'|trans }}
        </div>

        <div class="card-body">
            <pre>
                {{ output|raw }}
            </pre>
        </div>
    </div>

    <div class="buttons">
        <a href="{{ path('show_cronresult', { id: result.id, job: job.id }) }}" class="btn btn-primary btn-sm">
            <i class="fa fa-terminal"></i> {{ 'cron.results.show.label'|trans }}
        </a>
    </div>
{% endblock %}